<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="js/takeTest.js"></script>
<body>


  <div class="container"  ng-app="myApp" ng-controller="takeTestCtrl">
        <span>{{questionList}}</span>
        <span>{{answerList}}</span>


        <span id="countdown" class="timer"></span>


        <div>
            <div ng-repeat="x in questionList" >
              <form>
                <pre>
                <h3 >{{x.title}}</h3>
                <h4>Answer selected: {{answerList[$index]}}</h4>

                <div class="form-group">
                  <div  ng-repeat="y in x.choice" class="col-xs-10 col-md-10">
                    <button ng-click="setAnswer($parent.$index,x.choice[$index])"  type="button" class="btn btn-default btn-block">{{arrayIndexToChar($index)}}: {{y}}<span class="badge" id="choice{{$index}}Badge"></span></button>
                </div>

                </div>
              </pre>
              </form>
            </div>
            <h4 style="text-align:center;" >----------End-----------</h4>
        </div>



  </div>




</body>
</html>
